<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
    <input type="text" id="filter" />
    <ul class="thumbs">
      <% for(var i = 0; i < clips.length; i++) { %>
        <li id="<%= clips[i].id %>" data-thumbs-url="<%= clips[i].thumbnails_url %>">
          <a href="#">
            <img src="gifs/prelinger_static/<%= clips[i].thumbnail_filename %>">
          </a>
        </li>
      <% } %>
    </ul>
    <div id="subcontent"><div class="container"></div></div>
    <div id="scrim" />
  </body>
</html>
