/* style.css */

@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);

body {
    background: #1a1a1a;
    color:#ddd;
    font-family: sans-serif;;
    line-height:1.8em;
    font-size:14px;
}
ul, li {
    list-style-type: none;
    padding:0;
    margin:0;
}
a {
    color:#aaa;
    text-decoration: none;
}
a:hover {
    color:#ddd;
}
input {
    font-family: sans-serif;
    color:#ddd;
    font-size:18px;
    background:#111;
    border:1px solid #555;
    padding:5px;
    width:95%;
}
/* all */
::-webkit-input-placeholder { color:#555; }
::-moz-placeholder { color:#555; } /* firefox 19+ */
:-ms-input-placeholder { color:#555; } /* ie */
input:-moz-placeholder { color:#555; }


#nav {
    text-align:center;
}
#nav h1 {
/* font-family: 'Abel', sans-serif; */
/*    font-family: 'Codystar', cursive; */
    font-family: 'Archivo Narrow', sans-serif; 
    color:#ddc;
    font-size:3em;
    font-weight:normal;
}

#filter-elem {
}
#filter {
    margin:20px 0;
}
#filters {
    display:inline-block;
    margin:0 auto;
    width:auto;
}

#facets > li {
    display:inline-block;
    margin:0 2px;
}
#facets > li > a {
    display:inline-block;
    background:#000;
    padding:5px 20px;
    font-weight:bold;
}
#facets > li > ul {
    text-align:left;
    background:#090909;
    box-shadow:4px 4px 4px rgba(0,0,0,0.5);
    padding:6px;
    display:none;
}
#facets > li > ul > li > a {
    display:block;
}

#clear_filter {
    padding:0.5em;
}

#info {
    position:absolute;
    top:5px;
    right:10px;
}






ul.thumbs {
}
ul.thumbs li {
    margin:5px;
    padding:0px;
    display:block;
    float:left;
    width:160px;
    height:110px;
}
ul.thumbs li a {
    width:160px;
    height:110px;
    display:block;
}
ul.thumbs li img {
    width:160px;
    height:110px;
}
