/* style.css */
body {
    background: #1a1a1a;
    color:#ddd;
    font-family: sans-serif;;
    line-height:1.8em;
    font-size:14px;
}
ul, li {
    list-style-type: none;
    padding:0;
    margin:0;
}
a {
    color:#999;
    text-decoration: none;
}
a:hover {
    color:#ddd;
}
input {
    font-family: sans-serif;
    color:#ddd;
    font-size:14px;
    background:#111;
    border:1px solid #555;
    padding:5px;
}

ul.thumbs {
    margin-top:2px;
    margin-left:150px;
}
ul.thumbs li {
    margin:5px;
    padding:0px;
    display:block;
    float:left;
    width:160px;
    height:110px;
}
ul.thumbs li a {
    width:160px;
    height:110px;
    display:block;
}
ul.thumbs li img {
    width:160px;
    height:110px;
}
#filter-elem {
    position: absolute;
    left:5px;
    top:45px;
}
#filter {
    width:100px;
}
#facets {
    position:absolute;
    left:5px;
    top:100px;
}
#faces a {
}

#clear_filter {
    padding:0.5em;
}

#videoplayer {
    width:100%;
    height:100%;
    overflow: auto;
}

#info {
    display:inline-block;
    position:absolute;
    top:0;
    left:5px;
}